extends layout

block content
  p.message #{data.message} &hearts;
  p.message
    a(href="/users") Users
  p.message
    a(href="/auth/github") Login com github
  p.message
    a(href="/auth/facebook") Login com Facebook

block styles
  link(rel="stylesheet", href="assets/styles/app.css")
