extends ../../views/layout

block title
  title Login - Express Boilerplate

block content
  .container
    form.form.col-md-4.col-md-offset-4(action="/login", method="post")
      .pahe-header
        h2 Sing in

      .form-group
        label Username
        input.form-control(placeholder="your username", name="username", type="text")

      .form-group
        label Password
        input.form-control(placeholder="your password", name="password", type="password")

      button.btn.btn-default Sign in
