extends ../../views/layout

block title
  title Hello from express boilerplate

block styles
  style.
    h1 {
      color: #34495e;
      font-size: 3rem;
      text-justify: center;
    }

block content
  h1 #{greeting}
