extends ../../resources/views/layout

block title
  title Login

block content
  .login
    form(method="post")
      h1.head Login

      .form-group
        label Username
        input(type="text" name="username" required)

      .form-group
        label Password
        input(type="password" name="password" required)

      button.form-button
        span Sign In

block styles
  style.
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 16px/1.5 'Lato';
    }

    .login {
      width: 100%;
      height: 100vh;
      display: flex;
      padding: 15px;
      align-items: flex-start;
      justify-content: center
    }

    .head {
      display: flex;
      align-items: center;
      padding: 30px 0 15px;
      justify-content: space-between;

      border-bottom: 1px solid #ddd;
    }

    .form-group {
      display: block;
      padding: 15px 0;
    }

    form {
      width: 100%;
      display: block;
      max-width: 300px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      display: block;
      padding: 0 15px;
      color: #444;
      font: 1rem/35px 'Lato';
      border-radius: 3px;
      border: 1px solid #444;
    }

    .form-group input:focus {
      outline: none;
      box-shadow: none;
      border-color: #3498db;
    }

    .form-button {
      width: 100%;
      display: block;

      color: #fff;
      font: 1rem/35px 'Lato';

      border-radius: 3px;
      border: 1px solid #3498db;
      background-color: #3498db;
    }
