* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  main-height: 100%;
}

body {
  width: 100%;
  display: flex;
  font: 16px/1.5 'Lato';
  background-color: #f4f4f4;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  display: block;
  padding: 5px 35px;

  color: #fff;
  text-align: center;
  font: 1rem/35px 'Lato';

  border-radius: 3px;
  background-color: tomato;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
